@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family:'Raleway', sans-serif;
    /*border:1px solid red;*/

}

body {
    padding:0;
    margin:0 auto;
    box-sizing: border-box;
    max-width: 1440px;
}

/*Le header*/
header {
    width:93.4%;
    padding:0 3.3% 0 3.3%;
    margin: 0;
}

.flex-header {
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.logo-header {
    position:relative;
    height:29px;
    margin-top:44px;
    margin-left:5px;
    object-fit: cover;
}

.nav-header {
    width:33%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    margin-top: 0;
}

.navbar {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    margin-right: 0px;
    margin-top: 0;
}

.li-homes, .li-activities {
    width:50%;
    height:100%;
    position:relative;
    margin-top:0px;
    font-style:normal;
    font-weight:400;
    font-size:16px;
    line-height:118px;
    text-align: center;
}

.a-homes, .a-activities {
    position:relative;
    color: #000000;
    width:100%;
    text-decoration: none;
    line-height:19px;
}

.li-homes:hover, .li-activities:hover {
    border-top:2px solid #0065FC;
    color:#0065FC;
    font-weight:500;
}

main {
    box-sizing: border-box;
    margin:0 ;
    padding:0 3.3% 0 3.3%;
}

/*La section barre de recherche et filtres*/
.search-filters {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-search-filters {
    width:100%;
    font-style:normal;
    font-weight:700;
    font-size:22px;
    line-height:26px;
    color:black;
}

.subtitle-search-filters {
    width:100%;
    font-style: normal;
    font-weight: 400;
    font-size:16px;
    line-height:19px;
    color:black;
    padding-bottom:15px;
}

form {
    width:21.8%;
    display: flex;
    flex-direction:row;
}

.input {
    font-style: normal;
    font-weight:700;
    font-size:18px;
    line-height:21px;
    padding-left:15px;
    color:black;
    border:1px solid #F2F2F2;
}

.btn-local {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius:15px 0px 0px 15px;
    border:1px solid #F2F2F2;
    padding:16px 18px 15px 18px;
}

.fa-location-dot {
    font-size:18px;
    color:black;
}

.btn-search {
    width:auto;
    display:flex;
    background-color: #0065FC;
    border-radius:0px 15px 15px 0px;
    color:white;
    border:1px solid #0065FC;
    padding:15px 15px 15px 0px;
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height: 21px;
}

.fa-magnifying-glass {
    font-size:18px;
    color:#0065FC;
    left:0px;
}

.box-filters {
    position:relative;
    margin-top:15px;
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}

.title-filters {
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height:21px;
    color:black;
}

.div1btn, .div2btn {
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    flex-direction: row;
}

.div1btn{
    width:300px;
}

.div2btn {
    width:400px;
}

.btn {
    position:relative;
    margin:0px 10px 0 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
    font-style:normal; 
    font-weight:700;
    font-size:17px;
    line-height:20px;
    color:black;
    text-align: center;
    padding:10px 10px 10px 0px;
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog {
    color:#0065FC;
    font-size:16px;
    margin-right:10px;
    margin-left:10px;
}

.btn:hover {
    background-color: #DEEBFF;
}

.infotitle {
    position:relative;
    margin-top:4px;
    margin-left:15px;
    margin-bottom: 15px;
    font-style:normal;
    font-weight:400;
    font-size:16px;
    line-height:19px;
    color:black;
}

.info {
    display:flex;
    flex-direction: row;
    position:relative;
    margin-top:15px;
}

.fa-info {
    height:4px;
    width:4px;
    position:absolute;
    color:#0065FC;
    font-size:16px;
    text-align:center;
    right:11px;
    top:4px;
    left:10px;
    z-index: 1;
}

.spancircle {
    position:relative;
    border:1px solid #D9D9D9;
    height:8px;
    width:8px;
    padding: 8px 8px;
    border-radius:100%;
    z-index: 2;
}

.column-cards {
    justify-content: center;
    align-items: flex-start;
    display:flex;
    flex-direction: column;
}

/*Les cards hébergements*/
.h-tab {
    width:100%;
    position:relative;
    margin:0px 0px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#homes {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:63%;
    padding:37px 1.8% 27px 1.8%;
    border-radius:20px;
    background-color:#F2F2F2;
}

.title-homes {
    position:relative;
    top:0px;
    left:0px;
    font-style:normal;
    font-weight:700;
    font-size:22px;
    line-height:26px;
    color:black;
}

.container1, .container2 {
    width:100%;
    display:flex;
    flex-direction: row;
    padding:0px 0px 15px 0px;
    justify-content: space-between;
}

/*Cards hébergements*/
.case1 {
    display:flex;
    flex-direction: column;
    width:100%;
    height:198px;
    background-color: #FFFFFF;
    border-top:2px solid white;
    z-index:1;
}

.case11 {
    width:93%;
    position:relative;
    border:6px solid  white;
    overflow:hidden;
    border-radius:20px;
    filter:drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    z-index: 2;
}

.acards1 {
    cursor: pointer;
    text-decoration: none;
    width:33%;
}

.txt-card1 {
    width:100%;
    display:flex;
    flex-direction: column;
}

.title-card1 {
    width:100%;
    position:relative;
    font-size:16px;
    color:black;
    font-weight: 700;
    line-height:19px;
    top:-17px;
}

.script-card1 {
    width:90%;
    position:relative;
    top:-28px;
    font-size:14px;
    color:black;
    line-height:16px;
    font-weight:400;
}

.img-card111 {
    width:100%;
    height:124px;
    object-fit: cover;
    overflow: hidden;
}

.bluestars {
    display:flex;
    color:#0065FC;
    font-size:12px;
}

.greystars {
    display:flex;
    color:#F2F2F2;
    font-size:12px;
}

.rowstars {
    width:85%;
    position:relative;
    display:flex;
    flex-direction:row;
    top:-23px;
}

.aff {
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height:21px;
    color:black;
    position: relative;
    margin-top: 33px;
}

.popular {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:33px 20px 20px 20px;
    width:27%;
    border-radius:20px;
    position: relative;
    background-color:#F2F2F2;
    border-radius: 20px;
}

.columnpopular {
    width:99%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-chart-line {
    font-size:16px;
    color:#0065FC;
}

.title-icon {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:95%;
    padding-right:5%;
    position: relative;
    margin-top:2px;
    margin-bottom:15px;
}

.title-popular{
    font-style:normal;
    font-weight:700;
    font-size:22px;
    line-height:26px;
    color:black;
}

.acards2 {
    width:100%;
    padding-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
}

.case2 {
    display:flex;
    position: relative;
    width:100%;
    background-color: white;
    flex-direction: row;
    z-index:1;
}

.case22 {
    height:144px;
    width:96%;
    position:relative;
    bottom:1px;
    filter:drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border:5px solid white;
    border-radius:20px;
    overflow:hidden;
    z-index: 2;
}

.txt-card2 {
    width:100%;
    padding:0;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
    
}

.title-card2 {
    width:90%;
    position:relative;
    margin-top:-10px;
    font-size:16px;
    color:black;
    font-weight: 700;
    line-height: 19px;
    margin-left:5px;
}

.script-card2, .script-card21 {
    width:90%;
    position:relative;
    margin-left:5px;
    top:-5px;
    font-weight:400;
    font-size:14px;
    color:black;
    font-weight:400;
}

.card222 {
    width:65%;
    height:144px;
}

.img-card222 {
    width:100%;
    height:144px;
    object-fit: cover;
    overflow: hidden;
}

.rowstarspop {
    width:90%;
    position:relative;
    display:flex;
    flex-direction:row;
    left:5px;
    top:13px;
}

.rowstarspop21 {
    width:90%;
    position:relative;
    display:flex;
    flex-direction:row;
    left:5px;
    top:10px;
}

.rowstarspop1 {
    width:90%;
    position:relative;
    display:flex;
    flex-direction:row;
    left:5px;
    top:16px;
}

/*Section activités*/
.activities {
    position: relative;
    margin-bottom: 60px;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

#title-activities {
    position: relative;
    margin-top:40px;
    font-style:normal;
    font-weight:700;
    font-size:22px;
    line-height:26px;
    color:black;
}

.acards3 {
    cursor: pointer;
    text-decoration: none;
    width:23%;
}

.case3 {
    display:flex;
    flex-direction: column;
    position: relative;
    width:100%;
    height:444.51px;
    background-color: white;
    z-index: 1;
}

.case33 {
    display:flex;
    position: relative;
    width:100%;
    height:444.51px;
    overflow: hidden;
    border-radius: 20px;
    filter:drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    z-index: 2;
}

.case33:active {
    cursor: pointer;
}

.img-card3333 {
    width:100%;
    height:389px;
    object-fit: cover;
    overflow: hidden;
}

.txt-card3, .txt-card33, .txt-card34 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width:100%;
    margin:5px 0px 5px 0px;
    position:relative;
    font-weight:700;
    font-size: 16px;
    line-height: 19px;
    color:black;
    text-align: left;
}

b {
    position:relative;
    margin-left: 15px;
    font-size:16px;
    font-weight:700;
    line-height:19px;
    
}

/*Le footer*/
footer {
    display:flex;
    flex-direction:row;
    width:93.4%;
    margin-left:3.3%;
    margin-right:3.3%;
    background-color:#F2F2F2;
    
}

.article {
    width:30%;
    display:flex;
    flex-direction: column;
    padding:45px 45px 58px 45px;
}

.title-article {
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height:21px;
    color:black;
    position:relative;
    margin-left: 20px;
}

.list-article{
    display:flex;
    flex-direction: column;
    font-style:normal;
    font-weight:400;
    font-size:16px;
    line-height:19px;
    list-style: none;
}

.listfooter {
    position:relative;
    left:-42px;
    padding-bottom:10px;
    width:100%;
}

.list-article {
    position:relative;
    margin-left: 20px;
}

.a-article {
    width:100%;
    position:relative;
    font-style:normal;
    font-weight:400;
    font-size:18px;
    line-height:21px;
    color:black;
    list-style: none;
    text-decoration: none;
}

@media screen and (min-width:768px) and (max-width:1024px){
    body {
        background-color:white;
        width:100%;
    }

    .flex-header {
        width:92.2%;
        margin: 0 auto;
    }

    .nav-header {
        width:52%;
        justify-content: flex-end;
    }

    .navbar {
        margin-right: 0;
        width:100%;
    }

    .li-activities, .li-homes {
        width:50%;
    }

    .title-header {
        left:10px;
    }

    .subtitle-header {
        left:12px;
    }

    .box-filters {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width:655px;
        height:50px;
    }

    .div1btn, .div2btn {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        margin-left:0;
        margin-right: 0;
        padding:0;
        height:50px;
    }

    .div1btn {
        width:40%;
        margin-right:10%;

    }

    .div2btn {
        width:40%;
    }

    .btn {
        margin:0px 0px 0px 10px;
    }

    .fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog {
        margin-left:5%;
        padding-left:5px;
        margin-right:5%;
        font-size: 15px;
    }
    .txtbtn {
        text-align: left;
        width:100%;
        line-height: 15px;
    }

    .div1btn {
        width:38%;
        margin-right:0%;
    }
    
    .div2btn {
        width:52%;
    }

    .nav-header {
        width:40%;
    }

    .info {
        position:relative;
        top:20px;
        bottom:20px;
    }

    .infotitle {
        width:70%;
    }
    .column-cards {
        width:100%;
        margin:0 auto;
        padding:0;
    }

    #homes {
        width:96.2%;
        margin-left:0;
        margin-right: 0;
        margin-top: 35px;
    }

    .h-tab {
        width:100%;
        flex-direction: column;
    }

    main {
        margin:0 auto;
        width:86.3%;
        flex-direction: column;
        padding-bottom: 69px;
        padding-left:0%;
        padding-right: 0%;
    }

    footer {
        margin:0 auto;
        width:86.3%;
    }

    .article {
        width:30%;
        padding-right:0px;
    }

    .popular {
        width:96.2%;
        padding-left:1.8%;
        padding-right: 1.8%;
        flex-direction: column;
        top:30px;
        left:0px;
    }

    .columnpopular {
        width:100%;
        flex-direction: row;
        justify-content: space-between;
    }

    .fa-chart-line {
        left:560px;
        top:28px;
    }

    .acards2 {
        width: 33%;
    }

    .case2 {
        width:100%;
        height:144px;
    }

    .case22 {
        width:94%;
        height:144px;
    }

    .img-card222 {
        width:100%;
        height:144px;
        overflow: hidden;
    }

    .txt-card1 {
        font-size: 13px;
    }

    .title-card1 {
        top:-8px;
    }

    .script-card1 {
        top:-21px;
    }

    .txt-card2 {
        width:54%;
        font-size:13px;
    }

    .title-card2 {
        width:100%;
        top:0px;
        font-size: 14px;
    }

    .script-card2 {
        width:100%;
        font-size:13px;
        top:0px;
    }

    .script-card21 {
        width:100%;
        font-size:13px;
        top:0px;
    }

    .rowstars {
        margin-top:10px;
    }

    .rowstarspop {
        position:relative;
        margin-top:0%;
    }

    .rowstarspop1 {
        position:relative;
        margin-top:20%;
    }

    .rowstarspop21 {
        position:relative;
        margin-top:0%;
    }

    #title-activities {
        position:relative;
        margin-top:50px;
        margin-bottom:0px;
        margin-left: 20px;
    }

    .activities {
        width:100%;
        top:34px;
    }

    .acards3{
        width:23%;
    }

    .case3{
        height:267px;
        width:100%;
    }

    .case33 {
        height:267px;
        width:100%;
    }  

    .img-card3333 {
        width:100%;
        height:211px;
    }
    
    .txt-card3, .txt-card33, .txt-card34 {
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        width:100%;
        padding:5px 0px 0px 0px;
        height:36px;
    } 
}


@media screen and (max-width:767px){
    body{
        min-width: 320px;
        width:100%;
        padding:0px;
        margin:0px;
        box-sizing: border-box;
        flex-direction: column;
    }

    header {
        width:100%;
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    .flex-header {
        flex-direction: column;
        padding:0;
        align-items: center;
        margin:0;
        width:100%;
    }

    .logo-header {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .nav-header {
        display: flex;
        width:100%;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        margin-left:-42px; ;
        overflow: hidden;
    }

    .a-activities, .a-homes {
        line-height: 60px;
        width:100%;
    }

    .li-homes, .li-activities {
        display: flex;
        align-items: center;
        justify-content: center;
        width:50%;
        font-weight:500;
        position:relative;
        border-bottom: 2px solid #F2F2F2;
        overflow: hidden;
    }

    .li-homes:hover, .li-activities:hover {
        border-bottom:2px solid #0065FC;
        border-top:2px solid transparent;
        font-weight:500;
    }

    .a-activities:hover, .a-homes:hover {
        color:#0065FC;
    }

    main{
        width:100%;
        margin:0;
        padding:0;
    }

    .search-filters {
        padding:0 2.5% 0 2.5%;
        width:95%;
        margin: 0%;
    }

    .title-search-filters {
        width:100%;
        height:52px;
        font-size: 20px;
    }

    .subtitle-search-filter {
        width:100%;
        font-size:14px ;
    }

    form {
        width:100%;
        top:36px;
    }

    .input {
        width:75%;
        padding-left:5px;
        padding-right:12px;
    }

    .btn-local {
        display:flex;
        justify-content: center;
        align-items: center;
        width:12.5%;
        padding:0px;
    }

    .btn-search {
        display: flex;
        justify-content: center;
        align-items: center;
        width:12.5%;
        color:#0065FC;
        overflow:hidden;
        text-align: center;
        padding-left:0px;
        padding-right: 0px;
    }

    .fa-magnifying-glass {
        font-size:18px;
        color:white;
        margin: 0;
        text-align: center;
    }
    
    .txt-search-btn {
        display:none;
    }

    .box-filters {
        width:100%;
        position:relative;
        flex-direction: column;
        text-align: left;
    }

    .div1btn, .div2btn {
        position:relative;
        height:50px;
        width:100%;
        padding-top:0px;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .filters {
        width:100%;
        top:48px;
        flex-direction: column;
    }

    .btn {
        position: relative;
        font-size:11px;
        font-weight: 700;
        line-height: 12.91px;
        padding-top:12px;
        width: 47%;
        margin-left:0;
        margin-right: 0%;
        height:50px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        text-align: left;
    }

    .fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog  {
        height:18px;
        position: relative;
        color:#0065FC;
        font-size:18px;
        left:10px;
        right: 10px;
        bottom:0px;
    }

    .txtbtn {
        position:relative;
        margin-left:10px;
    }

    .info {
        justify-content: flex-start;
        align-items: center;
        position:relative;
        margin-top:0px;
        padding:0px;
        width:100%;
        height:100px;
    }

    .infotitle {
        position:relative;
        width:85%;
        top:7px;
        left:0px;
    }

    .fa-info {
        position: absolute;
        top:40px;
        left:10px;
    }

    .column-cards {
        width:100%;
        box-sizing: border-box;
        margin:0;
        padding:0%;
    }

    .h-tab {
        box-sizing: border-box;
        margin: 0%;
        padding: 0%;
        display:flex;
        flex-direction:column-reverse;
        width:100%;
    }

    .title-popular {
        position:relative;
        top:10px;
    }

    .fa-chart-line {
        right:2.5%;
        margin-top:20px;
    }
    .title-icon {
        padding-right:2.5%;
        padding-left:2.5%;
    }

    .popular {
        box-sizing: border-box;
        width:100%;
        margin:0px;
        padding:0px 0px 30px 0px;
        border-radius:0px;
        justify-content: center;
        align-items: center;
    }

    .columnpopular {
        margin: 0;
        padding: 0;
        width:100%;
    }

    .acards2 {
        width:100%;
    }

    .case22 {
        position: relative;
        bottom: 22px;
    }

    main {
        width:100%;
    }

    .title-homes {
        width:280px;
        font-size: 21px;
        margin-left:2.5%;
    }

    #homes {
        width:100%;
        background-color: #FFFFFF;
        flex-direction: column;
        border-radius: 0px;
        padding-left:0%;
        padding-right: 0%;
        margin:0;
    }

    .aff {
        color:transparent;
        margin:0;
    }

    #title-activities {
        width:95%;
        position: relative;
        left:2.5%;
        top:-30px;
    }

    .activities {
        background:white;
        position:relative;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width:100%;
        left:0px;
        margin:0;
        padding: 0%;
        top:-30px;
        height:812px;
    }

    footer {
        flex-direction: column;
        width:95%;
        padding-left:5%;
        padding-right:0%;
        margin:0 auto;
    }

    .article {
        width:95%;
        position: relative;
        left:-34px;
        padding-right: 0px;
    }

    .listfooter{
        width:100%;
    }

    .title-article {
        width:90%;
        margin-left:0%;
    }

    .list-article {
        width:75%;
        margin-left: 0%;
    }

    .acards3 {
        position: relative;
        width:95%;
        margin:0;
        padding:0;
    }

    .case33{
        position:relative;
        width:100%;
        height:190px;
        bottom:5px;
    }

    .case3 {
        width:100%;
        height:190px;
    }

    .acards2 {
        width:95%;
        height:144px;
    }

    .case22 {
        position: relative;
        width:97%;
        height:144px;
        top:0px;
    }

    .case2 {
        width:100%;
    }
    .card222 {
        width:40%;
    }

    .img-card222 {
        width:100%;
        height:144px;
    }

    .txt-card2 {
        width:58%;
        left:0px;
    }


    .title-card2 {
        width:96%;
        height:32px;
        left:1%;
        font-size: 14px;
    }

    .script-card2 {
        width:96%;
        height:16px;
        top:0px;
        left:1%;
        font-size: 14px;
    }

    .script-card21 {
        position: relative;
        width: 96%;
        top:-10px;
        left:0%;
        font-size: 14px;
    }

    .rowstarspop1 {
        width:96%;
        top:25px;
        left:2%;
    }

    .rowstarspop {
        width:96%;
        top:25px;
        left:2%;
    }

    .rowstarspop21 {
        width:96%;
        top:22px;
        left:2%;
    }

    .container1, .container2 {
        width:100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding:0;
        margin: 0;
    }
    .acards1 {
        width:95%;
        height:199px;
        padding-bottom:25px;
        padding-right:0;
    }

    .case11 {
        height:199px;
        width:98%;
        left:0px;
    }

    .case1 {
        width:100%;
    }

    .txt-card1 {
        width:100%;
    }

    .title-card1 {
        top:-17px;
    }

    .script-card1 {
        top:-30px;
    }

    .script-card21 {
        top:-10px;
    }

    .img-card111 {
        overflow:hidden;
        bottom:126px;
    }

    .card11, .card12, .card13, .card14,.card15, .card16 {
        bottom:80px;
    }

    .rowstars {
        top:-27px;
    }

    .txt-card34, .txt-card33, .txt-card3 {
        top:12px;
        width:100%;
        font-size:13px;
    }

    .img-card3333 {
        width:100%;
        height:124px;
    }

}



