@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family:'Raleway', sans-serif;
    /*border:1px solid red;*/

}

body {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header {
    width:90%;
    padding:0 5% 0 5%;
    margin: 0;
}

.flex-header {
    margin:0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.logo-header {
    position:relative;
    height:29px;
    margin-top:44px;
    margin-left:5px;
    object-fit: cover;
}

.nav-header {
    width:33%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 0;
}

.navbar {
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    margin-right: 5px;
    margin-top: 0;
}

.li-homes, .li-activities {
    width:50%;
    height:100%;
    position:relative;
    margin-top:0px;
    font-style:normal;
    font-weight:400;
    font-size:16px;
    line-height:118px;
    text-align: center;
}

.a-homes, .a-activities {
    position:relative;
    color: #000000;
    width:100%;
    text-decoration: none;
    line-height:19px;
}

.li-homes:hover, .li-activities:hover {
    border-top:2px solid #0065FC;
    color:#0065FC;
    font-weight:500;
}

main {
    box-sizing: border-box;
    margin:0 ;
    padding:0 5% 0 5%;
}

.search-filters {
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.title-search-filters {
    width:100%;
    font-style:normal;
    font-weight:700;
    font-size:22px;
    line-height:26px;
    color:black;
}

.subtitle-search-filters {
    width:100%;
    font-style: normal;
    font-weight: 400;
    font-size:16px;
    line-height:19px;
    color:black;
    padding-bottom:15px;
}

form {
    width:21.8%;
    display: flex;
    flex-direction:row;
}

.input {
    font-style: normal;
    font-weight:700;
    font-size:18px;
    line-height:21px;
    padding-left:15px;
    color:black;
    border:1px solid #F2F2F2;
}

.btn-local {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius:15px 0px 0px 15px;
    border:1px solid #F2F2F2;
    padding:16px 18px 15px 18px;
}

.fa-location-dot {
    font-size:18px;
    color:black;
}

.btn-search {
    width:auto;
    display:flex;
    background-color: #0065FC;
    border-radius:0px 15px 15px 0px;
    color:white;
    border:1px solid #0065FC;
    padding:15px 15px 15px 0px;
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height: 21px;
}

.fa-magnifying-glass {
    font-size:18px;
    color:#0065FC;
    left:0px;
}

.box-filters {
    position:relative;
    margin-top:15px;
    display:flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}

.title-filters {
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height:21px;
    color:black;
}

.div1btn, .div2btn {
    padding-top: 10px;
    padding-bottom: 10px;
    display:flex;
    flex-direction: row;
}

.div1btn{
    width:274px;
}

.div2btn {
    width:400px;
}

.btn {
    position:relative;
    margin:0px 10px 0 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border:2px solid #D9D9D9;
    border-radius: 25px;
    background-color: white;
    font-style:normal; 
    font-weight:700;
    font-size:17px;
    line-height:20px;
    color:black;
    text-align: center;
    padding:10px 10px 10px 0px;
}

.fa-money-bill-wave, .fa-person, .fa-heart, .fa-dog {
    color:#0065FC;
    font-size:16px;
    margin-right:10px;
    margin-left:10px;
}

.btn:hover {
    background-color: #DEEBFF;
}

.infotitle {
    position:relative;
    margin-top:4px;
    margin-left:15px;
    margin-bottom: 15px;
    font-style:normal;
    font-weight:400;
    font-size:16px;
    line-height:19px;
    color:black;
}

.info {
    display:flex;
    flex-direction: row;
    position:relative;
    margin-top:15px;
}

.fa-info {
    height:4px;
    width:4px;
    position:absolute;
    color:#0065FC;
    font-size:16px;
    text-align:center;
    right:11px;
    top:4px;
    left:10px;
    z-index: 1;
}

.spancircle {
    position:relative;
    border:1px solid #D9D9D9;
    height:8px;
    width:8px;
    padding: 8px 8px;
    border-radius:100%;
    z-index: 2;
}







footer {
    margin: 0;
    display:flex;
    flex-direction:row;
    width:100%;
    background-color:#F2F2F2;
}

.article {
    width:30%;
    display:flex;
    flex-direction: column;
    padding:45px 45px 58px 45px;
}
.title-article {
    font-style:normal;
    font-weight:700;
    font-size:18px;
    line-height:21px;
    color:black;
}
.list-article{
    display:flex;
    flex-direction: column;
    font-style:normal;
    font-weight:400;
    font-size:16px;
    line-height:19px;
    list-style: none;
}
.listfooter {
    position:relative;
    left:-42px;
    padding-bottom:10px;
    width:100%;
}
.a-article {
    width:100%;
    position:relative;
    font-style:normal;
    font-weight:400;
    font-size:18px;
    line-height:21px;
    color:black;
    list-style: none;
    text-decoration: none;
}

@media screen and (min-width:768px) and (max-width:992px){}
@media screen and (max-width:767px){}


